.body {
  position: relative;
  width: 100%;
  text-align: center;
  display: block;
  padding: 50px;
}

.app {
  position: relative;
  display: block;
  margin: auto;
  border: 2px solid black;
  text-align: center;
}

.app button {
  display: block;
  text-align: center;
  margin: auto;
}


