.body {
  position: relative;
  width: 100%;
  background-color: gray;
  text-align: center;
  display: block;
  padding: 50px;
}

.app {
  position: relative;
  display: block;
  width: 400px;
  height: 400px;
  background-color: cadetblue;
  margin: auto;
  border: 2px solid black;
}

.app button {
  display: block;
  text-align: center;
  margin: auto;
}


